{% extends "base.html" %}
{% block content %}
    <h1>{{ question.question }}</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form method="post">
    {% csrf_token %}
        {{ form.answer.errors }}
        {{ form.answer }}
        <button type="submit" class="btn btn-primary">Vote</button>
    </form>
{% endblock %}
